@import "./../../../styles.scss";

section {
    @include contentLimit();
    *:not(h2) {
        font-size: 18px;
    }
    .heading {
        @include dFlex($jc: unset);
        margin-bottom: 20px;
        img {
            padding: 0 30px;
        }
    }
    .info {
        @include dFlex($jc: space-between);
        >p {
            padding-right: 40px;
            width: 50%;
        }
        >div {
            @include dFlex($jc: space-between);
            width: 50%;
        }
    }
    .send {
        @include dFlex($jc: flex-end);
        >button {
            color: #827B7B;
            border: 1px solid #827B7B;
            padding: 20px;
            background: none;
            width: 100px;
        }
    }
}

.input {
    @include dFlex();
    height: 170px;
    margin-top: 20px;
    > * {
        width: 50%;
    }
    >div {
        gap: 40px;
        padding-right: 40px;
        display: grid;
    }
    >textarea {
        height: calc(100% - 18px * 2);
        resize: none;
    }
}

.contact-info {
    display: grid;
    gap: 20px;
    > div {
        @include dFlex($jc: flex-start);
        img {
            padding-right: 20px;
            width: 25px;
        }
        p {
            margin: 0;
        }
    }
}

input, textarea {
    border: 1px solid $primary-font-color;
    background: none;
    padding: 18px;
    width: calc(100% - 18px * 2);
    &::placeholder {
        color: $primary-font-color;
        opacity: 60%;
    }
}

.policy-agreement {
    @include dFlex($jc: flex-start);
    margin: 40px 0 0 0;
    img {
        padding-right: 20px;
    }
    p {
        margin: 0;
        span {
            color: $secondary-font-color;
        }
    }
}