<section>
    <div class="heading">
        <h2 class="section-heading">{{"contact.heading" | translate}}</h2>
        <img *ngIf="!(deviceService.isMobile$ | async)" src="./assets/images/long-arrow-down.png" alt="arrow-down">
    </div>
    <div class="info">
        <p>{{"contact.text" | translate}}</p>
        <div *ngIf="!(deviceService.isMobile$ | async)">
            <div class="contact-info">
                <div>
                    <img src="./assets/images/email.png" alt="email">
                    <p>Email: koenig.leon2000&#64;gmail.com</p>
                </div>
                <div>
                    <img src="./assets/images/phone.png" alt="phone">
                    <p>Tel: +49 1522 1602597</p>
                </div>
            </div>
            <svg width="22" height="50" viewBox="0 0 22 50" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="scrollTo('landing-page')">
                <path d="M9.58575 4.9366L2.67354 11.2396C2.29178 11.5877 1.7077 11.5877 1.32595 11.2396L0.810337 10.7694C0.375397 10.3728 0.375397 9.68822 0.810337 9.29161L10.3262 0.61441C10.708 0.266304 11.292 0.266304 11.6738 0.61441L21.1897 9.29161C21.6246 9.68822 21.6246 10.3728 21.1897 10.7694L20.6741 11.2396C20.2923 11.5877 19.7082 11.5877 19.3265 11.2396L12.4142 4.9366L12.4142 49C12.4142 49.5523 11.9665 50 11.4142 50H10.5858C10.0335 50 9.58575 49.5523 9.58575 49L9.58575 4.9366Z" fill="#E15544"/>
            </svg>
        </div>
    </div>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="input">
            <div>
                <div class="input-wrapper">
                    <input [(ngModel)]="contactData.name" type="text" id="name" name="name"
                        [placeholder]="name.invalid && name.touched ? ('contact.name-req' | translate) : ('contact.name' | translate)"
                        [ngClass]="{'invalid': name.invalid && name.touched}"
                        #name="ngModel" minlength="4" required>
                    <img src="./assets/images/green-tick.png" alt="valid" *ngIf="name.valid && name.touched">
                    <img src="./assets/images/red-exMark.png" alt="invalid" *ngIf="name.invalid && name.touched">
                </div>
                <div class="input-wrapper">
                    <input [(ngModel)]="contactData.email" type="email" id="email" name="email"
                        [placeholder]="email.invalid && email.touched ? ('contact.email-req' | translate) : ('contact.email' | translate)"
                        [ngClass]="{'invalid': email.invalid && email.touched}"
                        #email="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    <img src="./assets/images/green-tick.png" alt="valid" *ngIf="email.valid && email.touched">
                    <img src="./assets/images/red-exMark.png" alt="invalid" *ngIf="email.invalid && email.touched">
                </div>
            </div>
            <div class="textarea-wrapper">
                <textarea [(ngModel)]="contactData.message" id="message" name="message" 
                    [placeholder]="message.invalid && message.touched ? ('contact.message-req' | translate) : ('contact.message' | translate)" 
                    [ngClass]="{'invalid': message.invalid && message.touched}"
                    #message="ngModel" required></textarea>
                <img src="./assets/images/green-tick.png" alt="valid" *ngIf="message.valid && message.touched">
                <img src="./assets/images/red-exMark.png" alt="invalid" *ngIf="message.invalid && message.touched">
            </div>
        </div>
        <div class="policy-agreement">
            <div class="checkbox" (click)="togglePath()">
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path [attr.d]="currentPath" fill="#E15544"/>
                </svg>
            </div>
            <p [innerHTML]="'contact.agree' | translate"></p>
        </div>
        <div class="send">
            <input [ngClass]="{'agreed': currentPath == checkedPath && name.valid && email.valid && message.valid}" 
                [disabled]="currentPath == uncheckedPath"
                type="submit" value="Send">
        </div>
    </form>
    <div *ngIf="deviceService.isMobile$ | async" class="mobile-info">
        <div class="svg-container">
            <svg width="22" height="50" viewBox="0 0 22 50" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="scrollTo('landing-page')">
                <path d="M9.58575 4.9366L2.67354 11.2396C2.29178 11.5877 1.7077 11.5877 1.32595 11.2396L0.810337 10.7694C0.375397 10.3728 0.375397 9.68822 0.810337 9.29161L10.3262 0.61441C10.708 0.266304 11.292 0.266304 11.6738 0.61441L21.1897 9.29161C21.6246 9.68822 21.6246 10.3728 21.1897 10.7694L20.6741 11.2396C20.2923 11.5877 19.7082 11.5877 19.3265 11.2396L12.4142 4.9366L12.4142 49C12.4142 49.5523 11.9665 50 11.4142 50H10.5858C10.0335 50 9.58575 49.5523 9.58575 49L9.58575 4.9366Z" fill="#E15544"/>
            </svg>
        </div>
        <div class="contact-info">
            <div>
                <img src="./assets/images/email.png" alt="email">
                <p>koenig.leon2000&#64;gmail.com</p>
            </div>
            <div>
                <img src="./assets/images/phone.png" alt="phone">
                <p>+49 1522 1602597</p>
            </div>
        </div>
    </div>
</section>