<section>
    <div class="heading">
        <h2 class="section-heading">Contact me</h2>
        <img src="./assets/images/long-arrow-down.png" alt="arrow-down">
    </div>
    <div class="info">
        <p>Encourage people to contact you and describe what role you are interested in. Express interest in contributing to a new project.</p>
        <div>
            <div class="contact-info">
                <div>
                    <img src="./assets/images/email.png" alt="email">
                    <p>E-mail: koenig.leon2000&#64;gmail.com</p>
                </div>
                <div>
                    <img src="./assets/images/phone.png" alt="phone">
                    <p>Tel: +49 1522 1602597</p>
                </div>
            </div>
            <img src="./assets/images/arrow-up.png" alt="arrow-up">
        </div>
    </div>
    <div class="input">
        <div>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your Email">
        </div>
        <textarea name="" id="" placeholder="Your Message"></textarea>
    </div>
    <div class="policy-agreement">
        <img src="./assets/images/check_box_outline_blank.png" alt="checkbox">
        <p>I've read the <span>privacy policy</span> and agree to the processing of the data as outlined.</p>
    </div>
    <div class="send">
        <button>Send</button>
    </div>
</section>