<section>
    <div id="content">
        <div id="why-me-image">
            <img src="./assets/images/placeholder-image.png" alt="cover image">
        </div>
        <div id="why-me-text">
            <h2 class="section-heading">Why me</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis asperiores optio praesentium maxime voluptate eius repellat cumque ipsa consequuntur rerum labore, tempora mollitia dolor laudantium quod ea animi maiores et?</p>
            <div id="graphics">
                <div>
                    <span style="left: 0">I am</span>
                    <div>
                        <img src="./assets/images/location-pin.png" alt="location pin">
                        <p>located <br> in Passau</p> 
                    </div>
                </div>
                <div>
                    <img style="left: 200px" src="./assets/images/curved-arrow-down.png" alt="curved arrow">
                    <div style="right: 100px;">
                        <img src="./assets/images/case.png" alt="case">
                        <p>open to <br> relocate</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="./assets/images/laptop.png" alt="laptop">
                        <p>open to <br> work remote</p>
                        <img src="./assets/images/curved-arrow-up.png" alt="curved arrow">
                    </div>
                    <img style="right: 50px;" src="./assets/images/looping-arrow.png" alt="curved arrow">
                </div>
            </div>
            <button>Let's talk</button>
        </div>
    </div>
</section>