<section>
    <div *ngIf="!(deviceService.isMobile$ | async)" id="why-me-image">
        <img src="./assets/images/whyme-image.png" alt="cover image">
    </div>
    <div id="why-me-text">
        <h2 class="section-heading">{{"why-me.heading" | translate}}</h2>
        <p>{{"why-me.p" | translate}}</p>
        <div *ngIf="deviceService.isMobile$ | async" class="first-arrow">
            <img style="left: 200px" src="./assets/images/curved-arrow-down.png" alt="curved arrow">
        </div>
        <div id="graphics">
            <div class="location">
                <span style="left: 0">{{"why-me.Iam" | translate}}</span>
                <div>
                    <img src="./assets/images/location-pin.png" alt="location pin">
                    <p [innerHTML]="'why-me.location' | translate"></p> 
                </div>
            </div>
            <div class="relocate">
                <img *ngIf="!(deviceService.isMobile$ | async)" style="left: 200px" src="./assets/images/curved-arrow-down.png" alt="curved arrow">
                <div style="right: 100px;">
                    <img src="./assets/images/case.png" alt="case">
                    <p [innerHTML]="'why-me.relocate' | translate"></p>
                </div>
            </div>
            <div class="remote">
                <div>
                    <img src="./assets/images/laptop.png" alt="laptop">
                    <p [innerHTML]="'why-me.remote' | translate"></p>
                    <img *ngIf="!(deviceService.isMobile$ | async)" src="./assets/images/curved-arrow-up.png" alt="curved arrow">
                </div>
                <img *ngIf="!(deviceService.isMobile$ | async)" style="right: 50px;" src="./assets/images/looping-arrow.png" alt="looping arrow">
            </div>
        </div>
        <div *ngIf="deviceService.isMobile$ | async" class="second-arrow">
            <img style="right: 50px;" src="./assets/images/small-arrow-down.png" alt="small arrow">
        </div>
        <button (click)="scrollTo('contact')">{{"why-me.button" | translate}}</button>
    </div>
</section>