<section>
    <div id="why-me-image">
        <img src="./assets/images/placeholder-image.png" alt="cover image">
    </div>
    <div id="why-me-text">
        <h2 class="section-heading">Why me</h2>
        <p>
            I love a good challenge. The scale and complexity of each webpage make its creation all the more rewarding.
            Turning problems into clarity drives my inventive approach to achieve results that matter.
            After all, the most meaningful creations often begin with a single spark of passion.
        </p>
        <div class="first-arrow">
            <img class="resp" style="left: 200px" src="./assets/images/curved-arrow-down.png" alt="curved arrow">
        </div>
        <div id="graphics">
            <div class="location">
                <span style="left: 0">I am</span>
                <div>
                    <img src="./assets/images/location-pin.png" alt="location pin">
                    <p>located <br> in Passau</p> 
                </div>
            </div>
            <div class="relocate">
                <img class="non-resp" style="left: 200px" src="./assets/images/curved-arrow-down.png" alt="curved arrow">
                <div style="right: 100px;">
                    <img src="./assets/images/case.png" alt="case">
                    <p>open to <br> relocate</p>
                </div>
            </div>
            <div class="remote">
                <div>
                    <img src="./assets/images/laptop.png" alt="laptop">
                    <p>open to <br> work remote</p>
                    <img class="non-resp" src="./assets/images/curved-arrow-up.png" alt="curved arrow">
                </div>
                <img class="non-resp" style="right: 50px;" src="./assets/images/looping-arrow.png" alt="looping arrow">
                <img class="non-resp" style="right: 50px;" src="./assets/images/small-arrow-down.png" alt="small arrow">
            </div>
        </div>
        <div class="second-arrow">
            <img class="resp" style="right: 50px;" src="./assets/images/small-arrow-down.png" alt="small arrow">
        </div>
        <button (click)="scrollTo('contact')">Let's talk</button>
    </div>
</section>