@import "./../../../styles.scss";

section {
    @include dFlex();
    @include contentLimit();
    #why-me-image {
        // height: 400px;
        >img {
            // object-fit: cover;
            // height: 100%;
            // width: auto;
        }
    }
    #why-me-text {
        @include dFlex($ai: flex-end);
        flex-direction: column;
        text-align: right;
        gap: 20px;
        p {
            margin: 0;
        }
        >button {
            color: black;
            background-color: $primary-font-color;
            padding: 15px 30px;
            border: none;
            &:hover {
                color: $secondary-font-color;
            }
        }
    }
}

#graphics {
    @include dFlex();
    flex-direction: column;
    >div {
        @include dFlex();
        position: relative;
        width: 560px;
        height: 60px;
        > * {
            position: absolute;
            white-space: nowrap;
            gap: 10px;
        }
        span {
            color: $secondary-font-color;
            font-size: 48px;
        }
        >div {
            @include dFlex();
            text-align: left;
        }
    }
}