@import "./../../../../styles.scss";

:host {
    @include dFlex();
    background: linear-gradient(#0B042D 50%, #0B042D33);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

section {
    @include dFlex($jc: space-between);
    @include contentLimit(90px, $padX: 140px);
    >div {
        @include dFlex();
        gap: 48px;
        white-space: nowrap;
        font-size: 22px;
        >nav {
            @include dFlex();
            gap: 32px;
            >a {
                white-space: nowrap;
                font-size: 22px;
                &:hover {
                    color: $primary-font-color;
                }
            }
        }
        .mobile-menu {
            display: none;
        }
    }
}

section * {
    color: $secondary-font-color;
}

.header-logo {
    font-family: Handjet;
    font-size: 48px;
}

@media (max-width: $mobile-width) {
    :host {
        display: block;
    }
    
    section {
        height: 70px;
        width: calc(100vw - 40px);
        padding: 0 20px;
        >div nav, .lang {
            display: none;
        }
        >div {
            width: 100%;
            justify-content: space-between;
            .mobile-menu {
                display: block;
            }
        }
    }
}