@import "./../../../../styles.scss";

:host {
    @include dFlex();
    background: linear-gradient(#0B042D 50%, #0B042D33);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

section {
    @include dFlex();
    @include contentLimit(90px);
    .main-div {
        @include dFlex($jc: space-between);
        width: 100%;
        gap: 48px;
        white-space: nowrap;
        font-size: 22px;
        >nav {
            @include dFlex();
            gap: 32px;
            >a {
                white-space: nowrap;
                font-size: 22px;
                &:hover {
                    color: $primary-font-color;
                }
            }
        }
    }
}

section * {
    color: $secondary-font-color;
}

.lang-buttons {
    @include dFlex();
    >button {
        font-size: 22px;
        border: none;
        background: none;
        &:hover {
            color: $primary-font-color;
        }
    }
}

.header-logo {
    font-family: Handjet;
    font-size: 48px;
    font-weight: bold;
}

@media (max-width: $mobile-width) {
    section {
        height: 70px;
        width: calc(100vw - 40px);
        padding: 0 20px;
        .main-div {
            width: 100%;
            justify-content: space-between;
        }
    }

    .context-menu {
        @include dFlex();
        width: calc(100% - 40px);
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 40px;
        background: linear-gradient(#13074E, #1D0A79F2);
        gap: 20px !important;
        >div {
            width: 100%;
            @include dFlex($jc: flex-end);
        }
        >nav {
            @include dFlex();
            flex-direction: column;
            gap: 24px;
        }
    }

    .lang-buttons button{
        font-size: 16px;
    }
}