@import "./../../../styles.scss";

:host {
    @include dFlex();
    padding-top: 120px;
}

section {
    @include contentLimit();
    >h2 {
        margin-bottom: 60px;
        text-align: center;
    }
    >div {
        display: grid;
        gap: 60px;
    }
}

@media (max-width: $mobile-width) {
    :host {
        padding-top: 60px;
    }
    
    section {
        width: calc(100vw - 40px);
        padding: 0 20px;
        h2 {
            font-size: 32px;
        }
    }
}