@import "./../../../styles.scss";

:host {
    @include dFlex();
    padding-top: 0;
}

section {
    @include dFlex($jc: space-between);
    @include contentLimit(600px);
    position: relative;
    >div {
        @include dFlex($jc: flex-end, $ai: flex-start);
        height: 100%;
        flex-direction: column;
        white-space: nowrap;
        >p {
            font-size: 54px;
            margin: 0;
        }
        >h1 {
            font-size: 82px;
            margin: 0;
        }
    }
    >svg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    >a {
        position: absolute;
        left: 0;
        font-size: 18px;
        color: $secondary-font-color;
        transform: rotate(-90deg) translate(50%);
        border: 1px solid $primary-font-color;
        padding: 15px 30px;
        transition: color 0.3s ease;
        &:hover {
            color: $primary-font-color;
        }
    }
}

.arrow-down:hover {
    cursor: pointer;
    border: 1px solid $primary-font-color;
    padding: 10px;
    >path {
        fill: $primary-font-color;
    }
}

@media (max-width: $mobile-width) {
    section {
        flex-direction: column-reverse;
        width: calc(100vw - 40px);
        padding: 0 20px;
        padding-top: 80px;
        height: auto;
        svg, a {
            display: none;
        }
        >div {
            padding-top: 20px;
            align-items: center;
            >p {
                font-size: 24px;
            }
            >h1 {
                font-size: 40px;
            }
        }
        >img {
            width: 100%;
        }
    }
}