@import "./../../../styles.scss";

section {
    @include dFlex();
    padding-top: 60px;
    #content {
        @include dFlex();
        @include contentLimit();
        flex-direction: column;
        text-align: left;
    }
}