@import "./../../../styles.scss";

:host {
    @include dFlex();
    padding-top: 120px;
}

section {
    @include contentLimit();
    flex-direction: column;
    .section-heading {
        margin-bottom: 40px;
    }
    .skills-container {
        >div {
            // @include dFlex($jc: flex-start);
            flex-wrap: wrap;
            gap: 120px 140px;
        }
    }
}

@media (max-width: $mobile-width) {
    :host {
        padding-top: 60px;
    }

    section {
        width: calc(100vw - 40px);
        padding: 0 20px;
        .section-heading {
            font-size: 32px;
            width: 100%;
            text-align: center;
        }
        .skills-container {
            width: 100%;
            @include dFlex();
            >div {
                display: inline-flex;
                justify-content: flex-start;
                max-width: 100%;
                width: max-content;
                gap: unset;
                flex: 0 auto;
            }
        }
    }
}