<section>
    <h2 class="section-heading">My Skills</h2>
    <div class="skills-container">
        <div>
            @for (skill of skills; track $index) {
                <app-single-skill [skill]="skill"></app-single-skill>
            }
        </div>
    </div>
    <div *ngIf="deviceService.isMobile$ | async" class="arrow-container">
        <img src="./assets/images/skills-arrow.png" alt="">
        <p>{{"skills.challenge" | translate}}</p>
        <button (click)="scrollTo('contact')">Let's talk</button>
    </div>
</section>