<section>
    <div *ngIf="deviceService.isMobile$ | async" class="arrow">
        <a href="/"><img src="./assets/images/back-arrow.png" alt=""></a>
    </div>
    <h1 [innerHTML]="'privacy.h1' | translate"></h1>
    <div class="text">
        <h2>{{ "privacy.section1.h2" | translate }}</h2>
    
        <h3>{{ "privacy.section1.general_info.h3" | translate }}</h3>
        <p>{{ "privacy.section1.general_info.p1" | translate }}</p>
    
        <h3>{{ "privacy.section1.data_collection.h3" | translate }}</h3>
        <h4>{{ "privacy.section1.data_collection.responsible.h4" | translate }}</h4>
        <p>{{ "privacy.section1.data_collection.responsible.p1" | translate }}</p>
    
        <h4>{{ "privacy.section1.data_collection.how.h4" | translate }}</h4>
        <p>{{ "privacy.section1.data_collection.how.p1" | translate }}</p>
        <p>{{ "privacy.section1.data_collection.how.p2" | translate }}</p>
    
        <h4>{{ "privacy.section1.data_collection.purpose.h4" | translate }}</h4>
        <p>{{ "privacy.section1.data_collection.purpose.p1" | translate }}</p>
    
        <h4>{{ "privacy.section1.data_collection.rights.h4" | translate }}</h4>
        <p>{{ "privacy.section1.data_collection.rights.p1" | translate }}</p>
        <p>{{ "privacy.section1.data_collection.rights.p2" | translate }}</p>
    
        <h2>{{ "privacy.section2.h2" | translate }}</h2>
        <p>{{ "privacy.section2.p1" | translate }}</p>
    
        <h3>{{ "privacy.section2.allinkl.h3" | translate }}</h3>
        <p>{{ "privacy.section2.allinkl.p1" | translate }}</p>
        <p>{{ "privacy.section2.allinkl.p2" | translate }}</p>
    
        <h4>{{ "privacy.section2.processing_contract.h4" | translate }}</h4>
        <p>{{ "privacy.section2.processing_contract.p1" | translate }}</p>
    
        <h2>{{ "privacy.section3.h2" | translate }}</h2>
    
        <h3>{{ "privacy.section3.privacy.h3" | translate }}</h3>
        <p>{{ "privacy.section3.privacy.p1" | translate }}</p>
        <p>{{ "privacy.section3.privacy.p2" | translate }}</p>
        <p>{{ "privacy.section3.privacy.p3" | translate }}</p>
    
        <h3>{{ "privacy.section3.responsible_party.h3" | translate }}</h3>
        <p>{{ "privacy.section3.responsible_party.p1" | translate }}</p>
        <p>{{ "privacy.section3.responsible_party.p2" | translate }}</p>
        <p>{{ "privacy.section3.responsible_party.p3" | translate }}</p>
        <p>{{ "privacy.section3.responsible_party.p4" | translate }}</p>
    
        <h3>{{ "privacy.section3.storage_duration.h3" | translate }}</h3>
        <p>{{ "privacy.section3.storage_duration.p1" | translate }}</p>
    
        <h3>{{ "privacy.section3.legal_basis.h3" | translate }}</h3>
        <p>{{ "privacy.section3.legal_basis.p1" | translate }}</p>
    
        <h3>{{ "privacy.section3.recipients.h3" | translate }}</h3>
        <p>{{ "privacy.section3.recipients.p1" | translate }}</p>
    
        <h3>{{ "privacy.section3.withdrawal_consent.h3" | translate }}</h3>
        <p>{{ "privacy.section3.withdrawal_consent.p1" | translate }}</p>
    
        <h3>{{ "privacy.section3.objection_right.h3" | translate }}</h3>
        <p>{{ "privacy.section3.objection_right.p1" | translate }}</p>
        <p>{{ "privacy.section3.objection_right.p2" | translate }}</p>
    
        <h3>{{ "privacy.section3.complaint.h3" | translate }}</h3>
        <p>{{ "privacy.section3.complaint.p1" | translate }}</p>
    
        <h3>{{ "privacy.section3.data_portability.h3" | translate }}</h3>
        <p>{{ "privacy.section3.data_portability.p1" | translate }}</p>
    
        <h3>{{ "privacy.section3.access_correction_deletion.h3" | translate }}</h3>
        <p>{{ "privacy.section3.access_correction_deletion.p1" | translate }}</p>
    
        <h3>{{ "privacy.section3.restriction.h3" | translate }}</h3>
        <p>{{ "privacy.section3.restriction.p1" | translate }}</p>
        <ul>
            <li>{{ "privacy.section3.restriction.ul.li1" | translate }}</li>
            <li>{{ "privacy.section3.restriction.ul.li2" | translate }}</li>
            <li>{{ "privacy.section3.restriction.ul.li3" | translate }}</li>
            <li>{{ "privacy.section3.restriction.ul.li4" | translate }}</li>
        </ul>
        <p>{{ "privacy.section3.restriction.p2" | translate }}</p>
    
        <h3>{{ "privacy.section3.encryption.h3" | translate }}</h3>
        <p>{{ "privacy.section3.encryption.p1" | translate }}</p>
        <p>{{ "privacy.section3.encryption.p2" | translate }}</p>
    
        <h3>{{ "privacy.section3.advertising_emails.h3" | translate }}</h3>
        <p>{{ "privacy.section3.advertising_emails.p1" | translate }}</p>
    
        <h2>{{ "privacy.section4.h2" | translate }}</h2>
    
        <h3>{{ "privacy.section4.contact_form.h3" | translate }}</h3>
        <p>{{ "privacy.section4.contact_form.p1" | translate }}</p>
        <p>{{ "privacy.section4.contact_form.p2" | translate }}</p>
        <p>{{ "privacy.section4.contact_form.p3" | translate }}</p>
    
        <h3>{{ "privacy.section4.email_phone_fax.h3" | translate }}</h3>
        <p>{{ "privacy.section4.email_phone_fax.p1" | translate }}</p>
        <p>{{ "privacy.section4.email_phone_fax.p2" | translate }}</p>
        <p>{{ "privacy.section4.email_phone_fax.p3" | translate }}</p>
    
        <p>{{ "privacy.section4.source.p1" | translate }}</p>
    </div>

</section>