<app-landing-page id="landing-page"></app-landing-page>
<app-why-me id="why-me" data-aos="fade-left" data-aos-once="false" data-aos-duration="500" data-aos-offset="300"></app-why-me>
<app-skills id="skills" data-aos="fade-right" data-aos-once="false" data-aos-duration="500" data-aos-offset="400"></app-skills>
<app-projects id="projects" data-aos="fade-left" data-aos-once="false" data-aos-duration="500" data-aos-offset="450"></app-projects>
<app-references id="references" data-aos="fade-right" data-aos-once="false" data-aos-duration="500" data-aos-offset="800"></app-references>
<app-contact id="contact"></app-contact>