@import "./../../styles.scss";

:host {
    @include dFlex();
    padding-top: 120px;
}

section {
    min-height: calc(100vh - 400px);
    .arrow {
        text-align: right;
    }
    h1 {
        font-size: 54px;
    }
    h2 {
        font-size: 24px;
    }
    h1, h2 {
        color: $secondary-font-color;
    }
    p {
        font-size: 19px;
    }
}

@media (max-width: $mobile-width) {
    section {
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }
}