<section>
    <div id="content">
        <div class="info">
            <div>
                <span class="footer-logo">&lt;LK&gt;</span>
                <p>Frontend Developer</p>
            </div>
            <p>© Leon König 2025</p>
            <div class="links">
                <a href=""><img src="./assets/images/Github button.png" alt="github button"></a>
                <a href=""><img src="./assets/images/Email button.png" alt="email button"></a>
                <a href=""><img src="./assets/images/Linkedin button.png" alt="linkedin button"></a>
            </div>
        </div>
        <div class="legal-notice">
            <a href="">Legal Notice</a>
            <a href="">Privacy Policy</a>
        </div>
    </div>
</section>