<section [ngClass]="{ 'reversed': isReversed}">
    <img *ngIf="!isMobile" src={{data.image}} alt="project-image">
    <div class="text-div">
        <h2>{{data.title}}</h2>
        <p class="skills">{{data.skills}}</p>
        <p class="description">{{data.text}}</p>
        <img *ngIf="isMobile" src={{data.image}} alt="project-image">
        <div class="buttons">
            <a class="git-button" href={{data.gitLink}}>Github</a>
            <a class="test-button" href={{data.liveLink}}>Live Test</a>
        </div>
    </div>
</section>
