<section>
    <div *ngIf="deviceService.isMobile$ | async" class="arrow">
        <a [routerLink]="['/']" fragment="" ><img src="./assets/images/back-arrow.png" alt=""></a>
    </div>
    <h1>{{"imprint.heading" | translate}}</h1>
    <div class="text">
        <h2>{{"imprint.imprint" | translate}}</h2>
        <ul>
            <li>Leon König</li>
            <li>Löwengrube 3</li>
            <li>94032 Passau</li>
        </ul>

        <h3>{{"imprint.exploring" | translate}}</h3>
        <p>Email: koenig.leon2000&#64;gmail.com</p>

        <h3>{{"imprint.acceptance.heading" | translate}}</h3>
        <p [innerHTML]="'imprint.acceptance.p' | translate"></p>

        <h3>{{"imprint.scope.heading" | translate}}</h3>
        <p [innerHTML]="'imprint.scope.p1' | translate"></p>
        <p [innerHTML]="'imprint.scope.p2' | translate"></p>

        <h3>{{"imprint.proprietary.heading" | translate}}</h3>
        <p [innerHTML]="'imprint.proprietary.p' | translate"></p>

        <h3>{{"imprint.use.heading" | translate}}</h3>
        <p [innerHTML]="'imprint.use.p' | translate"></p>

        <h3>{{"imprint.disclaimer.heading" | translate}}</h3>
        <p [innerHTML]="'imprint.disclaimer.p' | translate"></p>

        <h3>{{"imprint.indemnity.heading" | translate}}</h3>
        <p [innerHTML]="'imprint.indemnity.p1' | translate"></p>
        <p [innerHTML]="'imprint.indemnity.p2' | translate"></p>
        <p [innerHTML]="'imprint.indemnity.p3' | translate"></p>
    </div>
</section>
