@import "./../../../styles.scss";

:host {
    @include dFlex();
    padding-top: 120px;
}

section {
    @include contentLimit();
    >h2 {
        font-weight: bold;
        font-size: 24px;
        color: $secondary-font-color;
        margin: 0;
    }
    >p {
        font-size: 24px;
        color: $secondary-font-color;
    }
    >div {
        @include dFlex($ai: flex-start);
        >img {
            padding: 0 30px;
        }
    }
}

.comments-container {
    @include dFlex($ai: flex-start);
    gap: 50px;
}

@media (max-width: $mobile-width) {
    :host {
        padding-top: 60px;
    }

    section {
        width: calc(100vw - 40px);
        padding: 0 20px;
        >h2, >p {
            text-align: center;
        }
        >p {
            font-size: 16px;
        }
    }

    .comments-container {
        justify-content: flex-start;
        overflow-x: auto;
        gap: 20px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}