@import "./../../../styles.scss";

:host {
    @include dFlex();
    padding-top: 120px;
}

section {
    @include contentLimit();
    >p, >span {
        font-size: 24px;
        color: $secondary-font-color;
    }
    >div {
        @include dFlex($ai: flex-start);
        >img {
            padding: 0 30px;
        }
    }
}

.comments-container {
    @include dFlex($ai: flex-start);
    gap: 50px;
}

@media (max-width: $mobile-width) {
    section {
        width: calc(100vw - 40px);
        padding: 0 20px;
        >p, >span {
            text-align: center;
        }
        >span {
            font-size: 16px;
        }
    }

    .comments-container {
        gap: 20px;
    }
}