@font-face {
    font-family: Roboto Mono;
    src: url("./assets/fonts/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: Handjet;
    src: url("./assets/fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf");
}

@mixin dFlex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin contentLimit($height: unset, $padY: 0px, $padX: 60px) {
    height: $height;
    width: 100%;
    max-width: calc(1440px - $padX * 2);
    padding: $padY $padX;
}

$primary-font-color: #02F4BF;
$secondary-font-color: #E15544;
$debugBorder: 1px dotted rgba(255, 0, 0, 0.5);
$mobile-width: 480px;

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(170deg, #0B042D, #1F0B80, #0B042F, #241085);
    * {
        font-family: Roboto Mono;
        color: $primary-font-color;
    }
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.section-heading {
    font-size: 54px;
    color: $secondary-font-color;
    margin: 0;
}

p, span, h1, h2, h3 {
    cursor: default;
}

